<?xml version="1.0" encoding="UTF-8"?>
<configuration  shutdownHook="disable">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%logger]) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="slick" level="ERROR"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="ERROR"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"/>
    <logger name="com.la.receta" level="INFO"/>
    <logger name="slick.jdbc.JdbcBackend.statement"  level="ERROR" />
    <logger name="org.flywaydb"  level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>